.star-rating  .book-rating{
    line-height:32px;
    font-size:1.25em;
  }
  
  .star-rating .fa-star{color: yellow;}
  .book-rating .fa-star{color: yellow;}

  .book-rating-card{
    color: yellow;
    line-height:50px;
    font-size:30!important;
  }
